doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title
      block title

    // STYLES
    // STYLES END

  body(ng-app="UserModule")
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href="/")
            | #{ __("AppBrand") }

        block navbar-content

        if user
          .navbar-form.navbar-right.btn-group(ng-controller="AuthController")
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
              span.fa.fa-user
              |  #{ user.fullName() } 
              span.caret
            ul.dropdown-menu
              if user.is_staff
                li
                  a(href="/admin")
                    |  #{ __("UserAction.GoAdminView") }
              li
                a(href="/profile")
                  span.fa.fa-cog.fa-fw
                  | &nbsp; #{ __("UserAction.GoDetailView") }
              li
                a(href="#", ng-click="signOut()")
                  span.fa.fa-sign-in.fa-fw
                  | &nbsp; #{ __("UserAction.SignOut") }

    block content

    .container
      hr
      footer
        span Copyright (c) 2015 Universidad Politecnica de Madrid

    script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
    //script(type='text/ng-template', id='searchbox.html').
      <input type="text" placeholder="Search Box">

    // SCRIPTS
    // SCRIPTS END
