form(name="editUserForm", ng-submit="createUser(userCreateModel)", novalidate)
  .form-group
    label( for='inputUserName') 
      | #{ __("FormField.Username") }
    .col-sm-10
      input#inputUserName.form-control(
        type='text',
        ng-model='userCreateModel.username',
        required
      )
  .form-group
    label(for='inputFirstName')
      | #{ __("FormField.FirstName") }
    .col-sm-10
      input#inputFirstName.form-control(
        type='text',
        ng-model="userCreateModel.firstName",
        required
      )
  .form-group
    label(for='inputLastName') 
      | #{ __("FormField.LastName") }
    .col-sm-10
      input#inputLastName.form-control(
        type='text',
        ng-model="userCreateModel.lastName",
        required
      )
  .form-group
    label(for='inputEmail') 
      | #{ __("FormField.Email") }
    .col-sm-10
      input#inputEmail.form-control(
        type='email',
        ng-model="userCreateModel.email",
        required
      )
  .form-group
    label(for='inputStaff') 
      | #{ __("FormField.Staff") }
    .col-sm-10
      input#inputStaff.form-control(
        type='boolean',
        ng-model="userCreateModel.is_staff",
        required
      )
  .form-group
    label(for='inputPassword') 
      | #{ __("FormField.Password") }
    .col-sm-10
      input#inputStaff.form-control(
        type='password',
        ng-model="userCreateModel.password",
        required
      )
  .form-group
    .col-sm-offset-2.col-sm-5
      button.btn.btn-default(type='submit' ng-disabled="!editUserForm.$valid") 
        | #{ __("Admin.Create") }
